process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params {
    in_genome = "$MYSCRATCH/genomes/PN"
    in_phibase = "$MYSCRATCH/phi-base_current.fas"
    species = "Parastagonospora_nodorum"
}

process {
    executor = 'slurm'
    clusterOptions = "--account=y95"
    queue = 'work'
    cpus = 1
    time = '1h'

    withName: BUILD_DB {
        container = 'docker://quay.io/biocontainers/blast:2.15.0--pl5321h6f7f691_1'
    }

    withName: BLASTP {
        cpus = 8
        container = 'docker://quay.io/biocontainers/blast:2.15.0--pl5321h6f7f691_1'
    }

    withName: GET_EFFECTORS {
        container = 'docker://quay.io/biocontainers/pandas:1.5.2'
    }

    withName: GET_FULL_TABLE {
        container = 'docker://quay.io/biocontainers/pandas:1.5.2'
    }

    withName: CUSP {
        container = 'docker://quay.io/biocontainers/emboss:6.6.0--hdde3b0b_8'
    }

    withName: CAI {
        container = 'docker://quay.io/biocontainers/emboss:6.6.0--hdde3b0b_8'
    }

    withName: PLOT_CAI {
        container = 'docker://quay.io/uphl/seaborn:0.12.2-2-slim'
    }

}

executor {
      $slurm {
        queueSize = 1000
    }
}