process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params {

    fastq="/scratch/y95/pmisiun/fastq"
    outdir="/path/to/output_directory"
    refname="AF"
    ref="/scratch/y95/pmisiun/genomes/GCA_004335285.1_ASM433528v1_genomic.fasta"
}

process {
    executor = 'slurm'
    clusterOptions = "--account=y95"
    queue = 'work'
    cpus = 1
    time = '1h'

    withName: INDEX_REF {
        container = 'docker://quay.io/biocontainers/bwa:0.7.3a--he4a0461_9'
    }

    withName: FAI_REF {
        container = 'docker://quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
    }

    withName: DICT_REF {
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: GENERATE_UBAM {
        time = '4h'
        memory = '16GB'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: SAM_TO_FASTQ {
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: MARK_ILLUMINA_ADAPTERS {
        memory = '16GB'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: ALIGN_TO_REF {
        cpus = 64
        container = 'docker://quay.io/biocontainers/bwa:0.7.3a--he4a0461_9'
    }

    withName: SORT_AND_INDEX_BAM {
        container = 'docker://quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1'
    }

    withName: MARK_DUPLICATES {
        memory = '64GB'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: MERGE_BAM_WITH_UBAM {
        memory = '32GB'
        publishDir = '07_ubam'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: VARIANT_CALLING {
        cpus = 64
        time = '4h'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: COMBINE_AND_GENOTYPE_VCF {
        time = '8h'
        memory = '128GB'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: FILTER_SNPS_AND_INDELS {
        memory = '64GB'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: QUALITY_FILTER_VARIANTS {
        memory = '64GB'
        container = 'docker://quay.io/biocontainers/gatk4:4.5.0.0--py36hdfd78af_0'
    }

    withName: FINAL_FILTER_VARIANTS {
        container = 'docker://quay.io/biocontainers/bcftools:1.19--h8b25389_1'
    }

    withName: VCF_TO_PHYLIP {
        container = 'docker://quay.io/biocontainers/python:3.12'
    }

    withName: GENERATE_TREE {
        publishDir = '11_phylogeny'
        container = 'docker://quay.io/biocontainers/iqtree:2.3.0--h21ec9f0_0'
    }

}

executor {
      $slurm {
        queueSize = 1000
    }
}