process {
    cache = 'lenient'
    stageInMode = 'symlink'
}

conda {
    enabled = true
}

singularity {
    enabled = true
    envWhitelist = 'SINGULARITY_BINDPATH, SINGULARITYENV_LD_LIBRARY_PATH, SINGULARITYENV_LD_PRELOAD'
    cacheDir = "$MYSOFTWARE/.nextflow_singularity"
}

params {

    fastq="/scratch/y95/pmisiun/fastq2"
    outdir="/path/to/output_directory"
    refname="AF"
    ref="/scratch/y95/pmisiun/a_fabae/A.fabae_59-13.fasta"
}

process {
    executor = 'slurm'
    clusterOptions = "--account=y95"
    queue = 'work'
    cpus = 1
    time = '1h'

    withName: GENERATE_UBAM {
        time = '4h'
        memory = '16GB'
    }

    withName: MARK_ILLUMINA_ADAPTERS {
        memory = '16GB'
    }

    withName: ALIGN_TO_REF {
        cpus = 24
    }

    withName: MARK_DUPLICATES {
        memory = '64GB'
    }

    withName: MERGE_BAM_WITH_UBAM {
        memory = '32GB'
        publishDir = '07_ubam'
    }

    withName: VARIANT_CALLING {
        publishDir = '08_gvcf'
        cpus = 64
        time = '4h'
    }

    withName: COMBINE_AND_GENOTYPE_VCF {
        publishDir = '09_combined_gvcf'
        time = '8h'
        memory = '128GB'
    }

    withName: FILTER_SNPS_AND_INDELS {
        memory = '64GB'
    }

    withName: QUALITY_FILTER_VARIANTS {
        memory = '64GB'
    }

    withName: FINAL_FILTER_VARIANTS {
        time = '4h'
    }

    withName: GENERATE_TREE {
        publishDir = '11_phylogeny'
    }

}

executor {
      $slurm {
        queueSize = 1000
    }
}